.wrapper{
    padding: 1rem 0;
}
.wrapper h1{
    color: #fff567;
    line-height: 1.125em;
    margin-bottom: 0.5rem;
}
.social_links{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.social_links li{
    padding: 1rem 1.25rem .75rem;
}
.icon{
    font-size: 2rem;
    color: #fff567;
}
.icon:hover{
    color: #fff;
    transform: scale(1.1);
}
.social_links a{
    height: 100%;
    display: inline-block;
} 
@media screen and (min-width: 768px) {
    .wrapper{
        width: 35%;
    }
}