.Tokenomics{
    color: white;
    background: url('../../assets/Pooglr\ bg.jpg');
    background-size: cover;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.tokenomicsHead{
    width: 400px;
    margin: auto;
    padding-top: 30px;
}

.secondTokenomicsHero{
    width: 90%;
    margin: auto; 
}

.icon{
    font-size: 40px;
    color: #FFF766;
}

.title{
    font-size: 60px;
}

.tokenomicsDescription{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

.tokenomicsCard{
    text-align: center;
    width: 400px;
    margin-top: 30px;
}

.tokenomicsCard:hover{
    box-shadow: 0 0 20px #FFF766; 
}

.figures{
    font-size: 50px;
    color: #FFF766;
    margin: 20px;
    margin-bottom: 0;
    /* font-weight: 900; */
}

.figuresDes{
    font-size: 30px;
}

.secondTokenomicsDes{
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secondTokenomicsCard{
    text-align: center;
    width: 300px;
    margin: 10px;
}

.secondTokenomicsCard:hover{
    box-shadow: 0 0 20px #FFF766; 
}

.figures2{
    font-size: 50px;
    color: #FFF766;
    margin-bottom: 0;
    margin-top: 30px;
    /* font-weight: 900; */
}


.figuresDes2{
    font-size: 25px;
}

.descriptionTitle{
    /* font-weight: bolder; */
    color:#FFF766;
}

.thirdtokenomicsdiv{
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}


.Text{
    font-size: 25px;
    margin-top: 10px;
    text-align: justify;
}

.thirdHeading{
    font-weight: bolder;
    color:#FFF766;
    font-style: italic;
    /* width: 600px; */
}
.thirdtokenomicsdescription{
    margin-top: 50px;
    width: 600px;
}

#thirdHeading{
    display: inline;
}

@media screen and (max-width:1030px) {
    .secondTokenomicsCard{
        text-align: center;
        width: 400px;
    }

    .secondTokenomicsDes{
        width: 100%;
        flex-wrap: wrap;
    }


    .tokenomicsDescription{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .tokenomicsCard{
        text-align: center;
        margin-top: 20px;
        width: 400px;
    }

    .figuresDes{
        font-size: 30px;
        width: 500px;
        margin: auto;
    }

    .tokenomicsHead{
        width: 50%;
        margin: auto;
    }

    .figures{
        font-size: 60px;
    }
}



@media screen and (max-width:920px) {
    .secondTokenomicsCard{
        text-align: center;
        width: 100%;
    }

    .tokenomicsCard{
        width: 100%;
    }
}

@media screen and (max-width:850px) {
    .tokenomicsHead{
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width:600px){
    .tokenomicsHead{
        width: 60%;
        text-align: center;
        margin: auto;
    }

    .title{
        font-size: 40px;
    }

    .thirdtokenomicsdescription{
        margin-top: 50px;
        width: 100%;
    }

    .Text{
        font-size: 25px;
        margin-top: 10px;
        text-align: left;
    }

}

@media screen and (max-width:500px){
    .figuresDes{
        font-size: 25px;
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    .tokenomicsHead{
        width: 90%;
        margin: auto;
        text-align: center;
        padding-left: 0;
    }
   

    .secondTokenomicsDes{
        margin-top: 10px;
    }

    .figures2{
        font-size: 30px;
    }
}

@media screen and (max-width:400px){
    .icon{
        font-size: 40px;
        color: #FFF766;
    }
    
    .tokenomicsHead{
        display: flex;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 0;
      
    
    }
}

@media screen and (max-width:300px) {
    .figures2{
        font-size: 20px;
    } 

    .title{
        font-weight: bolder;
        font-size: 30px;
    }
}